@import "tailwindcss";

body {
background: url(https://loldle.net/img/WallpaperDark.20d3d6f6.webp) no-repeat 50% fixed;
background-color: rgba(0, 0, 0, 0);
background-size: cover;
background-color: #000;
}